<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>getOpenLayers</servlet-name>
        <servlet-class>com.lo.web.GetOpenLayers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getHeatMap</servlet-name>
        <servlet-class>com.lo.web.GetHeatMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLayers</servlet-name>
        <servlet-class>com.lo.web.GetLayers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setLayerVisibility</servlet-name>
        <servlet-class>com.lo.web.SetLayerVisibility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apply</servlet-name>
        <servlet-class>com.lo.web.Apply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProgress</servlet-name>
        <servlet-class>com.lo.web.GetProgress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUsefulDates</servlet-name>
        <servlet-class>com.lo.web.GetUsefulDates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getInfo</servlet-name>
        <servlet-class>com.lo.web.GetInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setSelection</servlet-name>
        <servlet-class>com.lo.web.SetSelection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reSetSelection</servlet-name>
        <servlet-class>com.lo.web.ReSetSelection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMapInstanceKey</servlet-name>
        <servlet-class>com.lo.web.GetMapInstanceKey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetMap</servlet-name>
        <servlet-class>com.lo.web.ResetMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeAnalysis</servlet-name>
        <servlet-class>com.lo.web.RemoveAnalysis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateLocations</servlet-name>
        <servlet-class>com.lo.web.UpdateLocations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bubbleLocations</servlet-name>
        <servlet-class>com.lo.web.BubbleLocations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkQARules</servlet-name>
        <servlet-class>com.lo.web.CheckQARules</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clearSelection</servlet-name>
        <servlet-class>com.lo.web.ClearSelection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getHotSpotLegend</servlet-name>
        <servlet-class>com.lo.web.GetHotSpotLegend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLayersZoomVisibility</servlet-name>
        <servlet-class>com.lo.web.GetLayersZoomVisibility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findFSA</servlet-name>
        <servlet-class>com.lo.web.FindFSA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findLocation</servlet-name>
        <servlet-class>com.lo.web.FindLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelProgress</servlet-name>
        <servlet-class>com.lo.web.cancelProgress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>maxInactiveIntervalProcess</servlet-name>
        <servlet-class>com.lo.web.MaxInactiveIntervalAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.lo.hosting.web.ScheduleWatchdogs</servlet-name>
        <servlet-class>com.lo.hosting.web.ScheduleWatchdogs</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>loaderHour</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>cleanerHour</param-name>
            <param-value>14</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>GetTileSpectrum</servlet-name>
        <servlet-class>com.lo.web.GetTileSpectrum</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getOpenLayers</servlet-name>
        <url-pattern>/getOpenLayers.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getHeatMap</servlet-name>
        <url-pattern>/getHeatMap.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLayers</servlet-name>
        <url-pattern>/getLayers.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setLayerVisibility</servlet-name>
        <url-pattern>/setLayerVisibility.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apply</servlet-name>
        <url-pattern>/apply.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProgress</servlet-name>
        <url-pattern>/getProgress.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUsefulDates</servlet-name>
        <url-pattern>/getUsefulDates.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getInfo</servlet-name>
        <url-pattern>/getInfo.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setSelection</servlet-name>
        <url-pattern>/setSelection.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reSetSelection</servlet-name>
        <url-pattern>/reSetSelection.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMapInstanceKey</servlet-name>
        <url-pattern>/getMapInstanceKey.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetMap</servlet-name>
        <url-pattern>/resetMap.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeAnalysis</servlet-name>
        <url-pattern>/removeAnalysis.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateLocations</servlet-name>
        <url-pattern>/updateLocations.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bubbleLocations</servlet-name>
        <url-pattern>/bubbleLocations.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkQARules</servlet-name>
        <url-pattern>/checkQARules.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clearSelection</servlet-name>
        <url-pattern>/clearSelection.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getHotSpotLegend</servlet-name>
        <url-pattern>/getHotSpotLegend.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLayersZoomVisibility</servlet-name>
        <url-pattern>/getLayersZoomVisibility.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findFSA</servlet-name>
        <url-pattern>/findFSA.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findLocation</servlet-name>
        <url-pattern>/findLocation.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelProgress</servlet-name>
        <url-pattern>/cancelProgress.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>maxInactiveIntervalProcess</servlet-name>
        <url-pattern>/maxInactiveIntervalProcess.safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTileSpectrum</servlet-name>
        <url-pattern>/getTileSpectrum.safe</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--<filter>
        <filter-name>ValidateSession</filter-name>
        <filter-class>com.lo.web.ValidateSessionFilter</filter-class>
    </filter> 
    <filter-mapping>
        <filter-name>ValidateSession</filter-name>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.safe</url-pattern>
    </filter-mapping>-->
    <filter>
        <filter-name>compress</filter-name>
        <filter-class>com.korem.servlets.GZIPFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>*.safe</url-pattern>
    </filter-mapping>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>com.korem.servlets.WebSessionListener</listener-class>
    </listener>
</web-app>
