/* 
    Document   : secure
    Created on : 24-Nov-2010, 7:55:33 PM
    Author     : YDumais
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

td {
    font-size: 14px;
    font-family: Verdana,Arial,sans-serif;
}

fieldset {
    border: 1px outset #0072CF;
    margin-left: auto;
    margin-right: auto;    
}

#btn {
    font-size: 12px;
    font-family: Verdana,Arial,sans-serif;
}

#applyAreaInnerDiv {
    background-color: #f0f0f0;
    height: 100%;
}