
root { 
    display: block;
}

.colorpickerBox {margin-top:5px;}
#second {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    position:fixed;
    top:30px;
    right:150px;                
}          
#third {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    position:fixed;
    top:250px;
    right:150px;                
}  

#forth {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    position:fixed;
    top:500px;
    right:150px;                
}  
.x-color-picker, .x-color-picker {
    height: 195px;
    position: relative;
    overflow: hidden;
}
.x-color-picker div canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.x-color-picker-wheel {
    z-index: 1;
}
.x-color-picker-gradient  {
    z-index: 0;
}  

.x-add-btn {
    background-image: url(../js/lib/ext4/resources/ext-theme-gray/images/dd/drop-add.gif);
}

.x-refresh-btn {
    background-image: url(../js/lib/ext4/resources/ext-theme-gray/images/grid/refresh.gif);
}

.icon-layergroup-edit{
    background-image: url(../main/images/edit.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 16px;
    width: 16px;
}
.icon-layergroup-delete{
    background-image: url(../main/images/delete.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 16px;
    width: 16px;
}

.icon-download-big {
    background-image: url(images/download-icon.png);
}